## Pipeline de Dados e Inteligência de Negócios: Sistema de Recomendação Doistês

- USAR PYTHON 3.11.9

- Instalação de Bibiliotecas Necessárias:

In [3]:
import pandas as pd
import numpy as np
import sqlalchemy as db
import requests
import mysql.connector 
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

- Coleta de Dados através da API:

In [4]:
url = "https://fakestoreapi.com/products"
response = requests.get(url)
products_data = response.json()

- Criação de Lista com Avaliações Fictícias de Produtos Aleatórios.

In [5]:
data = []
for user_id in range(1, 201):
    for i in range(10):
        product = pd.DataFrame(products_data).sample(1).iloc[0]
        rating = np.random.randint(1, 201)  # Altere 'pd.np' para 'np'
        data.append([f"user_{user_id}", product['id'], rating])

- Criação de um DataFrame com os dados crus:

In [6]:
df_bronze = pd.DataFrame(data, columns=['Usuario', 'ProductID', 'Avaliacao'])
df_bronze

       Usuario  ProductID  Avaliacao
0       user_1          1         81
1       user_1         16        197
2       user_1          9         15
3       user_1          1        197
4       user_1         17        137
...        ...        ...        ...
1995  user_200         14        136
1996  user_200         17         46
1997  user_200          6         70
1998  user_200         15         29
1999  user_200          9         22

[2000 rows x 3 columns]

- Conectando com Banco de Dados:

In [7]:
usuario = 'root'
senha = 'Fin@2021'
host = '127.0.0.1'
porta = '3306'
banco = 'doistes_bronze'
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:Fin%402021@127.0.0.1:3306/doistes_bronze')

- Enviando dados crus para Camanda Bronze:

In [8]:
df_bronze.to_sql(
    name='raw_products',
    con=engine,
    if_exists='replace',
    index=False)

-1

- Limpeza de Dados:

- Armazenando dados na variável silver:

In [9]:
df_silver = df_bronze.copy()

- Remoção de Dados Vazios:

In [10]:
df_silver = df_silver.dropna()

- Remoção de Linhas duplicadas:

In [11]:
df_silver.drop_duplicates()

       Usuario  ProductID  Avaliacao
0       user_1          1         81
1       user_1         16        197
2       user_1          9         15
3       user_1          1        197
4       user_1         17        137
...        ...        ...        ...
1995  user_200         14        136
1996  user_200         17         46
1997  user_200          6         70
1998  user_200         15         29
1999  user_200          9         22

[1998 rows x 3 columns]

- Verificação de Valor Menor e Maior de Avaliação:

In [12]:
df_silver["Avaliacao"].describe()

count    2000.000000
mean      102.610500
std        57.467983
min         1.000000
25%        53.000000
50%       103.500000
75%       153.000000
max       200.000000
Name: Avaliacao, dtype: float64

- Normalizando Avaliações (Transformando de 0-1):

In [13]:
df_silver['Avaliacao'] = df_silver['Avaliacao'] / 200
df_silver

       Usuario  ProductID  Avaliacao
0       user_1          1      0.405
1       user_1         16      0.985
2       user_1          9      0.075
3       user_1          1      0.985
4       user_1         17      0.685
...        ...        ...        ...
1995  user_200         14      0.680
1996  user_200         17      0.230
1997  user_200          6      0.350
1998  user_200         15      0.145
1999  user_200          9      0.110

[2000 rows x 3 columns]

- Excluindo Usuários e Produtos com somente 1 avaliação:

In [14]:
user_counts = df_silver['Usuario'].value_counts()
product_counts = df_silver['ProductID'].value_counts()

df_silver = df_silver[
    (df_silver['Usuario'].isin(user_counts[user_counts > 1].index)) &
    (df_silver['ProductID'].isin(product_counts[product_counts > 1].index))]

- Definindo Tipos de Dados:

In [15]:
df_silver['Usuario'] = df_silver['Usuario'].astype(str)
df_silver['ProductID'] = df_silver['ProductID'].astype(int)
df_silver['Avaliacao'] = df_silver['Avaliacao'].astype(float)

In [16]:
df_silver

       Usuario  ProductID  Avaliacao
0       user_1          1      0.405
1       user_1         16      0.985
2       user_1          9      0.075
3       user_1          1      0.985
4       user_1         17      0.685
...        ...        ...        ...
1995  user_200         14      0.680
1996  user_200         17      0.230
1997  user_200          6      0.350
1998  user_200         15      0.145
1999  user_200          9      0.110

[2000 rows x 3 columns]

- Conectando com Camada Silver:

In [17]:
usuario = 'root'
senha = 'Fin@2021'
host = '127.0.0.1'
porta = '3306'
banco = 'doistes_silver'
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:Fin%402021@127.0.0.1:3306/doistes_silver')

- Enviando Dados Limpos e Tratados para Banco de Camanda Silver:

In [18]:
df_silver.to_sql(
    name='avaliacoes',
    con=engine,
    if_exists='replace',
    index=False)

-1

- #### Sistema de recomendação baseado em USUÁRIOS vizinhos:

In [19]:
df_silver = pd.read_sql("SELECT * FROM avaliacoes", con=engine)

- Transformação dos dados para a Matriz de Usuário-Item:

In [20]:
matriz = df_silver.pivot_table(
    index="Usuario", 
    columns="ProductID", 
    values="Avaliacao", 
    fill_value=0)

matriz

ProductID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
Usuario,,,,,,,,,,,,,,,,,,,,
user_1,0.695,0.000,0.00,0.000,0.000,0.680,0.000,0.425,0.0750,0.975000,0.0000,0.670,0.000,0.000,0.0000,0.580,0.685,0.000,0.000,0.000
user_10,0.000,0.130,0.00,0.000,0.000,0.280,0.000,0.000,0.0000,0.345000,0.0000,0.815,0.000,0.000,0.3825,0.000,0.325,0.000,0.000,0.320
user_100,0.000,0.000,0.00,0.920,0.340,0.765,0.000,0.000,0.0000,0.372500,0.0000,0.240,0.155,0.640,0.0000,0.055,0.000,0.000,0.350,0.000
user_101,0.000,0.500,0.00,0.000,0.760,0.000,0.000,0.000,0.0000,0.885000,0.0000,0.530,0.000,0.000,0.0000,0.465,0.000,0.345,0.000,0.000
user_102,0.000,0.000,0.51,0.000,0.260,0.105,0.465,0.000,0.0000,0.000000,0.0000,0.685,0.840,0.000,0.0000,0.000,0.000,0.000,0.310,0.915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
user_95,0.000,0.465,0.00,0.000,0.410,0.380,0.265,0.000,0.4125,0.515000,0.0000,0.000,0.000,0.000,0.0000,0.000,0.855,0.000,0.000,0.495
user_96,0.770,0.000,0.00,0.605,0.000,0.000,0.000,0.580,0.8000,0.000000,0.7025,0.000,0.770,0.565,0.0000,0.145,0.000,0.000,0.000,0.000
user_97,0.000,0.000,0.00,0.000,0.000,0.995,0.000,0.000,0.6525,0.000000,0.0000,0.875,0.130,0.000,0.9200,0.270,0.000,0.235,0.000,0.520
user_98,0.745,0.000,0.00,0.000,0.000,0.310,0.000,0.000,0.0000,0.815000,0.0000,0.000,0.000,0.000,0.6900,0.000,0.060,0.660,0.585,0.850
user_99,0.000,0.730,0.00,0.000,0.275,0.000,0.545,0.000,0.0000,0.713333,0.0000,0.000,0.000,0.000,0.0000,0.840,0.675,0.000,0.635,0.000

- Cálculo de Similaridade entre Usuários:

In [21]:
svd = TruncatedSVD(n_components=20, random_state=42)
matriz_reduzida = svd.fit_transform(matriz)
matriz_reduzida

array([[ 1.10174371, -0.07656531,  0.12379292, ..., -0.4858557 ,
         0.25464441,  0.20533369],
       [ 0.64900259,  0.16097246,  0.58442129, ..., -0.12661781,
         0.01644219,  0.13807092],
       [ 0.816687  , -0.25653822,  0.25921043, ...,  0.01458972,
         0.04931528, -0.18932117],
       ...,
       [ 1.13161516,  0.10894771,  0.86647639, ..., -0.32318113,
        -0.35080862, -0.11069511],
       [ 1.12503544,  0.83453989,  0.10451296, ..., -0.17007131,
        -0.24663999, -0.15479572],
       [ 0.94445281, -0.06959505, -0.1823628 , ..., -0.0778465 ,
        -0.13783505,  0.17911635]], shape=(200, 20))

In [22]:
similaridade = cosine_similarity(matriz_reduzida)

In [23]:
df_sim = pd.DataFrame(similaridade, index=matriz.index, columns=matriz.index)
df_sim

Usuario,user_1,user_10,user_100,user_101,user_102,user_103,user_104,user_105,user_106,user_107,...,user_90,user_91,user_92,user_93,user_94,user_95,user_96,user_97,user_98,user_99
Usuario,,,,,,,,,,,,,,,,,,,,,
user_1,1.000000,6.386947e-01,0.388203,0.545737,0.177911,0.186635,0.338016,0.191224,0.208725,0.340718,...,0.371043,0.485336,0.268332,0.218409,0.428280,0.531706,2.763945e-01,0.433202,0.471738,0.521789
user_10,0.638695,1.000000e+00,0.319486,0.484178,0.485918,0.085586,0.273362,0.384191,0.423503,0.194885,...,0.121727,0.355997,0.463570,0.360996,0.113855,0.495952,4.614364e-16,0.732893,0.458117,0.292411
user_100,0.388203,3.194863e-01,1.000000,0.327148,0.230913,0.274658,0.602179,0.016539,0.062192,0.501478,...,0.293224,0.580597,0.523003,0.433311,0.153269,0.289059,3.757640e-01,0.357329,0.270624,0.239653
user_101,0.545737,4.841779e-01,0.327148,1.000000,0.230219,0.406565,0.015563,0.213608,0.321739,0.531253,...,0.461235,0.098248,0.321465,0.537011,0.492918,0.472551,2.464141e-02,0.242090,0.350304,0.619618
user_102,0.177911,4.859176e-01,0.230913,0.230219,1.000000,0.287010,0.116469,0.446444,0.319299,0.201720,...,0.325123,0.264804,0.407023,0.464137,0.115694,0.312317,2.161616e-01,0.425623,0.334744,0.185253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
user_95,0.531706,4.959524e-01,0.289059,0.472551,0.312317,0.346874,0.484019,0.789577,0.311648,0.296243,...,0.247422,0.270578,0.292718,0.159824,0.483837,1.000000,1.269337e-01,0.343844,0.392236,0.629756
user_96,0.276394,4.614364e-16,0.375764,0.024641,0.216162,0.242109,0.369235,0.107601,0.097735,0.293647,...,0.416889,0.363604,0.548870,0.237120,0.338346,0.126934,1.000000e+00,0.194350,0.172344,0.038488
user_97,0.433202,7.328927e-01,0.357329,0.242090,0.425623,0.012319,0.161643,0.262064,0.468444,0.104715,...,0.103596,0.416904,0.520436,0.281896,0.235024,0.343844,1.943502e-01,1.000000,0.457282,0.070817
user_98,0.471738,4.581174e-01,0.270624,0.350304,0.334744,0.283429,0.064648,0.322021,0.639073,0.424503,...,0.563338,0.333483,0.268665,0.168164,0.310887,0.392236,1.723443e-01,0.457282,1.000000,0.317046
user_99,0.521789,2.924113e-01,0.239653,0.619618,0.185253,0.408245,0.323632,0.486847,0.280149,0.597423,...,0.279022,0.191632,0.028567,0.088066,0.479120,0.629756,3.848803e-02,0.070817,0.317046,1.000000

- Gerando Recomendações Baseadas em Usuários:

In [24]:
def recomendar_produtos(usuario_id, top_n=5):
    usuarios_parecidos = df_sim[usuario_id].sort_values(ascending=False).index[1:]
    produtos_usuario = matriz.loc[usuario_id]
    produtos_usuario = produtos_usuario[produtos_usuario > 0].index.tolist()
    recomendacoes = pd.Series(dtype=float)
    for similar_user in usuarios_parecidos:
        notas = matriz.loc[similar_user]
        notas = notas.drop(produtos_usuario)  # excluir produtos já avaliados
        recomendacoes = recomendacoes.add(notas, fill_value=0)
    recomendacoes = recomendacoes.sort_values(ascending=False)
    return recomendacoes.head(top_n)

- Testando a Geração de Recomendações:

In [25]:
usuario = "user_2"  
print(f"Top recomendações para {usuario}:")
print(recomendar_produtos(usuario, top_n=5))

Top recomendações para user_2:
ProductID
15    48.597917
12    47.365000
9     46.612917
18    43.101667
17    42.928333
dtype: float64

- Testando a Geração de Recomendações (Interativo):

In [26]:
usuario_escolhido = input("Digite o nome do usuário para ver as recomendações: ")

print(f"Top recomendações para {usuario_escolhido}:")
print(recomendar_produtos(usuario, top_n=5))

Top recomendações para :
ProductID
15    48.597917
12    47.365000
9     46.612917
18    43.101667
17    42.928333
dtype: float64

- #### Sistema de recomendação baseado em ITENS (Item-Based CF):

- Criando a Matriz de Similaridade de Itens:

In [27]:
matriz_normalizada = matriz.apply(lambda x: (x - x.mean()) / (x.std() + 1e-9), axis=1).fillna(0)

- Gerando Recomendações Baseadas em Itens:

In [28]:
matriz_item_reduzida = svd.fit_transform(matriz_normalizada.T)
similaridade_itens = cosine_similarity(matriz_item_reduzida)
df_sim_itens = pd.DataFrame(similaridade_itens, 
                            index=matriz.columns, 
                            columns=matriz.columns)

- Testando a Geração de Recomendações (Item-Based):

In [29]:
def recomendar_produtos_item(usuario_id, top_n=5):
    produtos_usuario = matriz.loc[usuario_id]
    produtos_usuario = produtos_usuario[produtos_usuario > 0]

    recomendacoes = pd.Series(dtype=float)

    for produto, nota in produtos_usuario.items():
        similares = df_sim_itens[produto].drop(produto)
        recomendacoes = recomendacoes.add(similares * nota, fill_value=0)

    recomendacoes = recomendacoes.drop(produtos_usuario.index, errors="ignore")
    recomendacoes = recomendacoes.sort_values(ascending=False)

    return recomendacoes.head(top_n)

In [30]:
print("Top recomendações (Item-Based) para user_2:")
print(recomendar_produtos_item("user_2", top_n=5))

Top recomendações (Item-Based) para user_2:
ProductID
3    -0.050790
13   -0.180778
15   -0.227186
9    -0.230888
8    -0.248707
dtype: float64

- #### Verificando a Acurácia:

In [ ]:
# Dividir dados em treino e teste
from sklearn.model_selection import train_test_split
train, test = train_test_split(df_silver, test_size=0.2, random_state=42)

# Reconstruir matriz só com dados de treino
matriz_treino = train.pivot_table(index="Usuario", columns="ProductID", values="Avaliacao", fill_value=0)

# Rodar SVD no treino
matriz_treino_reduzida = svd.fit_transform(matriz_treino)

# Predições
matriz_pred = np.dot(matriz_treino_reduzida, svd.components_)
matriz_pred = pd.DataFrame(matriz_pred, 
                           index=matriz_treino.index, 
                           columns=matriz_treino.columns)

y_true, y_pred = [], []

for _, row in test.iterrows():
    u = row["Usuario"]
    p = row["ProductID"]
    r = row["Avaliacao"]

    # só contabiliza pares presentes no treino (evita KeyError)
    if u in matriz_treino.index and p in matriz_treino.columns:
        y_true.append(r)
        y_pred.append(matriz_pred.loc[u, p])

# checa se coletamos pares válidos
if len(y_true) == 0:
    print("⚠️ Nenhum par (usuário, produto) do conjunto de teste está presente no treino. Ajuste o split ou verifique os dados.")
else:
    mse = mean_squared_error(y_true, y_pred)   # MSE
    rmse = np.sqrt(mse)                        # RMSE (sqrt do MSE)
    mae = mean_absolute_error(y_true, y_pred)

    print(f"RMSE: {rmse:.4f}")
    print(f"MAE:   {mae:.4f}")

RMSE: 0.5660
MAE:   0.4875

- Preparando os Dados para a Camada Gold:

In [32]:
user_recs = recomendar_produtos("user_6", top_n=5)
item_recs = recomendar_produtos_item("user_6", top_n=5)

In [33]:
df_user_recs = pd.DataFrame(user_recs).reset_index()
df_user_recs.columns = ['ProductID', 'Score']

df_item_recs = pd.DataFrame(item_recs).reset_index()
df_item_recs.columns = ['ProductID', 'Score']

- Convertendo Recomendações para DataFrame:

In [34]:
def normalizar_para_percentual(series):
    minimo = series.min()
    maximo = series.max()
    return ((series - minimo) / (maximo - minimo) * 100).round(2)

# Normalizando user-based
df_user_recs["Probabilidade"] = normalizar_para_percentual(df_user_recs["Score"])

# Normalizando item-based
df_item_recs["Probabilidade"] = normalizar_para_percentual(df_item_recs["Score"])

In [35]:
# Para ver o resultado do sistema user-based
print("Recomendações normalizadas (User-Based):")
print(df_user_recs)

print("\n" + "-"*50 + "\n")

# Para ver o resultado do sistema item-based
print("Recomendações normalizadas (Item-Based):")
print(df_item_recs)

Recomendações normalizadas (User-Based):
   ProductID      Score  Probabilidade
0         15  48.597917         100.00
1          9  46.612917          63.88
2          1  45.776667          48.67
3         20  45.415000          42.09
4         18  43.101667           0.00

--------------------------------------------------

Recomendações normalizadas (Item-Based):
   ProductID     Score  Probabilidade
0          5 -0.099404         100.00
1         20 -0.115183          80.97
2          8 -0.159741          27.22
3          3 -0.173596          10.50
4          6 -0.182302           0.00

In [ ]:
rmse_percent = rmse * 100
mae_percent = mae * 100

# Criando o DataFrame para exibir os resultados em porcentagem
df_metrics = pd.DataFrame({
    'Métrica': ['RMSE', 'MAE'],
    'Erro (%)': [rmse_percent, mae_percent]
})

print("Métricas de Acurácia em Porcentagem:")
print(df_metrics)

Métricas de Acurácia em Porcentagem:
  Métrica   Erro (%)
0    RMSE  56.604543
1     MAE  48.747708

In [37]:
def gerar_todas_recomendacoes(matriz, tipo_modelo='user'):
    all_recs = []
    
    # Pega a lista de todos os usuários do seu DataFrame
    todos_usuarios = matriz.index.tolist()

    for usuario in todos_usuarios:
        # Pega as recomendações para o usuário atual
        if tipo_modelo == 'user':
            recomendacoes = recomendar_produtos(usuario, top_n=5)
        elif tipo_modelo == 'item':
            recomendacoes = recomendar_produtos_item(usuario, top_n=5)
        else:
            raise ValueError("tipo_modelo deve ser 'user' ou 'item'")

        # Cria um DataFrame temporário com as recomendações
        df_rec_temp = pd.DataFrame(recomendacoes).reset_index()
        df_rec_temp.columns = ['ProductID', 'Score']
        df_rec_temp['Usuario'] = usuario
        
        # Adiciona o DataFrame à lista
        all_recs.append(df_rec_temp)

    # Concatena todos os DataFrames da lista em um só
    df_final = pd.concat(all_recs, ignore_index=True)
    
    return df_final

In [38]:
# 1. Gerar as recomendações para todos os usuários
df_user_recs_completo = gerar_todas_recomendacoes(matriz, tipo_modelo='user')
df_item_recs_completo = gerar_todas_recomendacoes(matriz, tipo_modelo='item')

# 2. Normalizar as pontuações
def normalizar_para_percentual(series):
    minimo = series.min()
    maximo = series.max()
    # Evita divisão por zero
    if maximo - minimo == 0:
        return 0
    return ((series - minimo) / (maximo - minimo) * 100).round(2)

# Normalizando user-based
df_user_recs_completo["Probabilidade"] = df_user_recs_completo.groupby('Usuario')['Score'].transform(normalizar_para_percentual)

# Normalizando item-based
df_item_recs_completo["Probabilidade"] = df_item_recs_completo.groupby('Usuario')['Score'].transform(normalizar_para_percentual)

# Criação do DataFrame de métricas (mantém o mesmo código, pois é único)
# ... (seu código para df_metrics)

In [40]:
def gerar_todas_recomendacoes(matriz, tipo_modelo='user'):
    all_recs = []
    
    # Pega a lista de todos os usuários do seu DataFrame
    todos_usuarios = matriz.index.tolist()

    for usuario in todos_usuarios:
        # Pega as recomendações para o usuário atual
        if tipo_modelo == 'user':
            recomendacoes = recomendar_produtos(usuario, top_n=5)
        elif tipo_modelo == 'item':
            recomendacoes = recomendar_produtos_item(usuario, top_n=5)
        else:
            raise ValueError("tipo_modelo deve ser 'user' ou 'item'")

        # Cria um DataFrame temporário com as recomendações
        df_rec_temp = pd.DataFrame(recomendacoes).reset_index()
        df_rec_temp.columns = ['ProductID', 'Score']
        df_rec_temp['Usuario'] = usuario
        
        # Adiciona o DataFrame à lista
        all_recs.append(df_rec_temp)

    # Concatena todos os DataFrames da lista em um só
    df_final = pd.concat(all_recs, ignore_index=True)
    
    return df_final  # <--- Certifique-se de que essa linha está aqui!

- Conectando com a Camada Gold para Exportação:

In [41]:
usuario = 'root'
senha = 'Fin@2021'
host = '127.0.0.1'
porta = '3306'
banco = 'doistes_gold'
from sqlalchemy import create_engine

engine_gold = create_engine('mysql+mysqlconnector://root:Fin%402021@127.0.0.1:3306/doistes_gold')

- Exportando as recomendações user-based e item-based:

In [42]:
# Exportando as recomendações user-based (agora com todos os usuários)
df_user_recs_completo.to_sql(
    name='user_recommendations',
    con=engine_gold,
    if_exists='replace',
    index=False
)

# Exportando as recomendações item-based (agora com todos os usuários)
df_item_recs_completo.to_sql(
    name='item_recommendations',
    con=engine_gold,
    if_exists='replace',
    index=False
)

# Exportando as métricas de acurácia (mantém o mesmo código)
df_metrics.to_sql(
    name='acuracia_metrics',
    con=engine_gold,
    if_exists='replace',
    index=False
)

print("\nDados de todos os usuários enviados com sucesso para a camada Gold!")

Dados de todos os usuários enviados com sucesso para a camada Gold!